#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID=2155025
API_HASH=78c3c29a509ec1875789dd9c301ce106
FROM_CHANNEL=-1001595590969
TO_CHANNEL=-1001494637627
SESSION=BACiG8IBUzHgsRmxIylKxDygVdOD0ZSCwKljGiA3KDVZjf--D6vU4TnEp2y0SIiJlDKxgPzslG_xfwzixeccwU8KQEqXqjAuAu3jz7pyEYTGpf16HfbGmy0BG1Q-BmgszhqIDjuoAdzQX4FO4QGhVYCBhQWdrK4--p8SPuq0uyNQ0IIMaw1aqkntfW1Pdxc9H03IulKVQQtpfP88WcPB4sAGCf_ig0zY8De4aaJ-cUG7EIGUl8EsRdFOBhl3YhIUEhMmF4P1JGngzODc0iFzeluUJhwKRvqY3_p8exLn8LuHpphZkVvcJaKGHxMDK_o8mofbKKkTww9KbFmiuyfIliLVZi0CqwA
